.DS_Store
cache
.idea
AllTelemetryData
AllTelemetryData_conc_NP

._*
.AppleDouble
.LSOverride
__pycache__
NumpyData
__pycache__
test.py
.idea
debug.ipynb

AD_normalized
test.ipynb

saved_models

anomaly_detection/*.npz
*.pth
Dataset/OnlyFailuresByDriver/npz_failures/*.npz
.env
LLM/.gradio
LLM/gpt-neo-1.3B_model
Dataset/train_data_only_failures
